@font-face {
  font-family: "chocolat";
  src: url("../content/Fonts/ChocolateBar.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "soda";
  src: url("../content/Fonts/Chocolatines.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
