<jhi-filters class="fl-left"></jhi-filters>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<div id="catalogue-box" class="row">
    <div *ngFor="let p of products; let i = index;">
        <jhi-product-details-catalogue class="col" [prod]="p">
        </jhi-product-details-catalogue>
        <div *ngIf="i%5==0">
            <div class="w-100"></div>
        </div>
    </div>

    <!--<div>
        <pagination-controls (pageChange)="p =$event"> </pagination-controls>
    </div>-->
</div>

<jhi-cart class="fl-right"></jhi-cart>