@import "../../../layouts/main/main.scss";

#info-product-cart {
  background-color: $boot-green;
  color: $colordk;
  width: 100%;
  margin-top: 2px;
  font-family: Verdana;
  padding: 3px;
}

ul {
  text-align: center;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0 5px 0;
  font-size: 15px;
}

.info-name {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  margin: 1px;
}

.info-price {
  font-size: 16px;
  text-align: center;
}

.info-weight {
}

.info-pieces {
}

.info-pass-date {
}

.info-stock {
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.cart-quantity-box {
  padding: 2px;
}

.cart-quantity-remove {
  display: inline-flex;
  font-weight: bold;
}

.cart-quantity-input {
  width: 30%;
  display: inline-flex;
  text-align: center;
}

.cart-quantity-add {
  display: inline-flex;
  font-weight: bold;
}

.btn-green {
  border: solid 0.5px $colordk;
}

.trash {
  border-radius: 100%;
  float: right;
}
