<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="commandLine">
            <h2><span jhiTranslate="gastoramaApp.commandLine.detail.title">Command Line</span> {{commandLine.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gastoramaApp.commandLine.quantity">Quantity</span></dt>
                <dd>
                    <span>{{commandLine.quantity}}</span>
                </dd>
                <dt><span jhiTranslate="gastoramaApp.commandLine.product">Product</span></dt>
                <dd>
                    <div *ngIf="commandLine.product">
                        <a [routerLink]="['/product', commandLine.product?.id, 'view']">{{commandLine.product?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gastoramaApp.commandLine.command">Command</span></dt>
                <dd>
                    <div *ngIf="commandLine.command">
                        <a [routerLink]="['/command', commandLine.command?.id, 'view']">{{commandLine.command?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/command-line', commandLine.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
